[Unit]
Description=Polybot with ngrok integration
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/PolybotServicePythonFursa
ExecStart=/bin/bash /home/ubuntu/polybot/startPolyBot.sh /home/ubuntu/PolybotServicePythonFursa
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=PATH=/home/ubuntu/PolybotServicePythonFursa/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
